<form [formGroup]="testForm">
  <!--标题-->
  <div class="row m-0 mb-3 ">
    <div class="card-header mb-4 col-12">
      方案一：水平布局
    </div>
  </div>
  <!--标准按钮-->
  <div class="row m-0 mb-3 form-inline">
    <button class="btn btn-primary mr-2" [ngClass]="btnClass" type="button">Primary</button>
  </div>

  <!-- textinput+按钮组合-->
  <div class="row  m-0 mb-3 ">
    <div class=" form-inline  col-12  p-0"[ngClass]="{'has-danger': isTestInput1Invalid('textInput1')}">
      <div class="input-group mt-2 p-0 col-lg-4 col-md-4 col-sm-6  mt-2 p-0" >
        <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">奖励策略</label>
        <input class="form-control with-danger-addon col-8 bd-radius " placeholder="Search for..." [ngClass]="{'form-control-danger': isTestInput1Invalid('textInput1')}"  formControlName="textInput1" type="text">
        <span class="input-group-btn bd-radius">
       <button class="btn btn-primary ml-lg-2  ml-md-1 ml-sm-1" type="button">Go!</button>
      </span>
      </div>
    </div>
    <div class=" col-6">  <span *ngIf="isTestInput1Invalid('textInput1')" class="text-danger offset-lg-2  offset-md-3 "><i class="ion-close-circled m-2"></i>输入错误！</span></div>
  </div>

  <!--单项选择-->
  <div class="row m-0 mb-3 radio-inline col-lg-4 col-md-6 col-sm-6  mt-2 p-0">
       <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">奖励策略</label>
      <!-- <tzb-formlabel></tzb-formlabel>-->
       <div class="d-lg-inline">
         <label class="radio-inline custom-radio nowrap mt-2">
           <input  name="inlineRadioOptions" type="radio" value="option2">
           <span>Option 2</span>
         </label>
         <label class="radio-inline custom-radio nowrap mt-2">
           <input  name="inlineRadioOptions" type="radio" value="option2">
           <span>Option 2</span>
         </label>
         <label class="radio-inline custom-radio nowrap mt-2">
           <input  name="inlineRadioOptions" type="radio" value="option2">
           <span>Option 2</span>
         </label>
       </div>
     </div>

  <!--下拉选择-->
  <div class="row m-0 mb-3 form-inline ">
        <div class="form-group col-lg-4 col-md-6 col-sm-6  mt-2 p-0">
          <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">Text</label>
          <select class="form-control col-8 d-lg-inline" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
  </div>

<!--文本输入框后带文字(有校验位置)-->
  <div class="row  m-0 mb-3">
    <div class="row form-inline col-12 p-0 m-0" [ngClass]="{'has-danger': isTestInput1Invalid('textInput1')} ">
        <div class="input-group  bd-radius  mt-2 p-0 col-lg-4 col-md-4 col-sm-6  mt-2 p-0">
          <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">Text</label>
          <input class="form-control with-danger-addon col-8  d-lg-inline " placeholder="Search for..." [ngClass]="{'form-control-danger': isTestInput1Invalid('textInput1')}"  formControlName="textInput1" type="text">
        </div>
      <div class="col-lg-6 col-md-6 col-sm-6  d-lg-inline   p-0">
        (申购时投资人需要密码才能投资)
      </div>
    </div>
    <div class=" col-6 mt-2">  <span *ngIf="isTestInput1Invalid('textInput1')" class="text-danger offset-lg-2  offset-md-3 "><i class="ion-close-circled m-2"></i>输入错误！</span></div>
  </div>

  <!--文本输入框后带文字-->
  <div class="row m-0 mb-3 form-inline ">
    <div class="col-lg-4 col-md-6 col-sm-6  mt-2 p-0">
      <div class="form-group ">
        <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">Text</label>
        <input type="text" class="form-control col-8 d-lg-inline"  placeholder="Text" >
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2 p-0">
      元
    </div>
  </div>
  <div class="row m-0 mb-3 form-inline ">
    <div class="col-lg-4 col-md-6 col-sm-6  mt-2 p-0">
      <div class="form-group ">
        <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">Text</label>
        <input type="text" class="form-control col-8 d-lg-inline"  placeholder="Text" >
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2 p-0">
      %
    </div>
  </div>
  <div class="row m-0 mb-3 form-inline ">
    <div class="col-lg-4 col-md-6 col-sm-6  mt-2 p-0">
      <div class="form-group ">
        <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">Text</label>
        <input type="text" class="form-control col-8 d-lg-inline"  placeholder="Text" >
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-2 p-0">
      元
    </div>
  </div>

 <!-- 多选择框组-->
  <div class="row m-0 mb-3 checkbox-inline col-lg-4 col-md-6 col-sm-6  mt-2 p-0">
    <label class="form-control-label col-3  d-lg-inline text-lg-right  text-md-right p-0 m-2 col-3">Text</label>
        <div >
          <label  class="checkbox-inline custom-checkbox  mt-2">
            <input type="checkbox" value="Check 1" name="Check">
            <span >Check 1</span>
          </label>
          <label  class="checkbox-inline custom-checkbox  mt-2">
            <input type="checkbox" value="Check 1" name="Check">
            <span >Check 2</span>
          </label>
          <label  class="checkbox-inline custom-checkbox  mt-2">
            <input type="checkbox" value="Check 1" name="Check">
            <span >Check 3</span>
          </label>
        </div>
  </div>

  <!--富文本编辑器-->
  <div class="row m-0 mb-3">
    <label class="form-control-label text-lg-right col-1 p-0" >奖励策略</label>
    <div class="col-lg-7 col-md-12 ">
      <ckeditor formControlName="ckeditorContent" [config]="config"></ckeditor>
    </div>
  </div>

  <div class="row m-0 mb-3 ">
    <label class="text-lg-right col-1" ></label>
    <div class="">
      <button class="btn btn-primary btn-sm mr-2 ml-lg-3" [ngClass]="btnClass" type="button">Primary</button>
      <button class="btn btn-danger btn-sm  mr-2" [ngClass]="btnClass" type="button">Primary</button>
      <button class="btn  btn-sm  mr-2" [ngClass]="btnClass" type="button">Primary</button>
    </div>
  </div>

 <!--标题-->
  <div class="row m-0 mb-3 ">
    <div class="card-header mb-4 col-12">
     方案二
    </div>
  </div>

<!--文本框带校验-->
  <div class="row m-0 ">
    <div class="form-group  col-5 p-0" [ngClass]="{'has-danger': isTestInput1Invalid('textInput1')}">
      <label class="form-control-label">Text</label>
        <input type="text" class="form-control with-danger-addon " [ngClass]="{'form-control-danger': isTestInput1Invalid('textInput1')}"  formControlName="textInput1" >
        <div *ngIf="isTestInput1Invalid('textInput1')" class="text-danger mt-2"><i class="ion-close-circled m-2"></i>输入错误！</div>
    </div>
  </div>


  <!--文本框-->
  <div class="row m-0">
    <div class="form-group  col-5 p-0">
      <label class="form-control-label">Text</label>
      <input type="text" class="form-control " >
    </div>
  </div>

  <!--下拉选择-->
  <div class="row m-0">
    <div class="form-group col-5 p-0">
      <label class="form-control-label">Text</label>
      <select class="form-control " >
        <option>1111111111111111</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

  <!--复文本框-->
  <div class="row m-0 ">
    <div class="form-group col-5 p-0">
      <label for="textarea01">Textarea</label>
      <textarea class="form-control" id="textarea01" placeholder="Default Input"></textarea>
    </div>
  </div>

  <div class="row m-0 mb-3 ">
    <button class="btn btn-primary btn-sm mr-2 " [ngClass]="btnClass" type="button">Primary</button>
    <button class="btn btn-danger btn-sm  mr-2" [ngClass]="btnClass" type="button">Primary</button>
    <button class="btn  btn-sm  mr-2" [ngClass]="btnClass" type="button">Primary</button>
  </div>

    <br>表单修改过: {{ testForm.dirty }}
    <br>点过表单: {{ testForm.touched }}
    <br>是否校验通过: {{ testForm.valid }}
    <br>校验失败errors: {{ testForm.get('textInput1').errors | json}}
    <br>当前的值: {{ testForm.value | json}}
</form>
