<div class="form-group">
  <div class="form-inline">
    <label class="mt-2 form-control-label text-left"  >Text</label>
    <div class="form-inline col-xs-12 col-lg-10 p-0">
      <div class="input-group col-5 p-0">
        <input class="form-control dp" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon ad" (click)="d.toggle()" >
          <img src="../../../../../../assets/img/theme/plugin/datepicker/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </div>
      </div>
      <div class=" col-2 hg text-center p-0 p-l-2">&mdash;</div>
      <div class="input-group col-5 p-0 ">
        <input class="form-control dp" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-addon ad" (click)="d2.toggle()" >
          <img src="../../../../../../assets/img/theme/plugin/datepicker/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </div>
      </div>
    </div>
    </div>
</div>
