<div class="navTop">
  <ul class="list-unstyled nav list-inline "   >
    <li role="presentation" class="active nav-item" *ngFor="let topMenu of topMenus"
        (click)="switchMenu(topMenu.path)" >{{topMenu.title}}</li>
    <!--<li role="presentation" class=" nav-item">文字编辑</li>-->
    <!--<li role="presentation" class=" nav-item">投资宝会员</li>-->
    <!--<li role="presentation" class=" nav-item">会员俱乐部</li>-->
    <!--<li role="presentation" class=" nav-item">项目管理</li>-->
    <!--<li role="presentation" class=" nav-item">投资宝账户</li>-->
    <!--<li role="presentation" class=" nav-item ">报表统计</li>-->
  </ul>
</div>
