<div>
	<script type="text/javascript" th:src="@{/angular.js}"></script>
	<script type="text/javascript" th:src="@{/angular-resource.js}"></script>
	<script type="text/javascript" th:src="@{/angular-cookies.js}"></script>
	<script type="text/javascript" th:src="@{/angular-route.js}"></script>
	<script type="text/javascript" th:src="@{/ngStorage.min.js}"></script>
	<script type="text/javascript" th:src="@{/angular-jwt.js}"></script>
	<script type="text/javascript" th:src="@{/angular-utf8-base64.min.js}"></script>
	
	<script>
		/*<![CDATA[*/

		var app = angular.module('myApp', ["ngResource", "ngRoute", "ngCookies", "angular-jwt"]);
		
		app.controller('mainCtrl', function($scope, $resource, $http, $httpParamSerializer, $cookies, jwtHelper) {
			
			$scope.foo = {id:1 , name:"sample foo"};
			
			$scope.foos = $resource("http://localhost:8081/foos/:fooId", {fooId: "@id"});
			
			$scope.getFoo = function () {
				$scope.foo = $scope.foos.get({fooId: $scope.foo.id});
			};
			
			var isLoginPage = window.location.href.indexOf("login") != -1;
			if (isLoginPage) {
				if($cookies.get("access_token")){
			        window.location.href = "index";
			    }
			} else {
				if($cookies.get("access_token")){
					$http.defaults.headers.common.Authorization = 'Bearer ' + $cookies.get("access_token");
				} else{
				    window.location.href = "login";
				}
			}
			
			$scope.loginData = {
				grant_type : "password",
				username : "",
				password : "",
				client_id : "fooClientIdPassword"
			};
			
			$scope.refreshData = {grant_type: "refresh_token"};
			
			$scope.login = function() {
				obtainAccessToken($scope.loginData);
			};
			
			$scope.refreshAccessToken = function(){
				obtainAccessToken($scope.refreshData);
			};

			function obtainAccessToken(params){
		        var req = {
		            method: 'POST',
		            url: "oauth/token",
		            headers: {"Content-type": "application/x-www-form-urlencoded; charset=utf-8"},
		            data: $httpParamSerializer(params)
		        }
		        $http(req).then(
		            function(data){
		                $http.defaults.headers.common.Authorization= 'Bearer ' + data.data.access_token;
		                var expireDate = new Date (new Date().getTime() + (1000 * data.data.expires_in));
		                $cookies.put("access_token", data.data.access_token, {'expires': expireDate});
		                window.location.href="index";
		            },function(){
		                console.log("error");
		                window.location.href = "login";
		            }
		        );
		    }
		});
		
		           
		/*]]>*/
	</script>

</div>